.check-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.4px;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    color: white;

    position: relative;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
}

.check-button:disabled {
    background-color: #e6ebf4;
    color: #bdc0cf;
    cursor: not-allowed;
}

.check-button:enabled:hover,
.check-button:enabled:focus {
    background-color: var(--highlight-color);
}

.check-button:enabled {
    color: var(--primary-color);
}

.check-button.pressed,
.check-button.pressed:enabled:hover,
.check-button.pressed:enabled:focus{
    background-color: var(--primary-color);
    color: white;
}
