.check-form-container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    justify-content: space-between;
}

.check-item:first-child, .check-item:last-child {
    margin: 0;
}

.check-item {
    margin: 15px 0;
    padding: 5px 10px;
    position: relative;
}

.check-item.disabled:hover, .check-item.disabled:focus {
    background-color: initial;
}

.check-item.active, .check-item.active:hover, .check-item.active:focus {
    background-color: var(--highlight-color);
}

.check-item:hover, .check-item:focus {
    background-color: #e6ebf4;
}

.check-item-actions .actions {
    display: inline-flex;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin-top: 10px;
}

.check-item-actions .actions-separator {
    border-left: 1px solid var(--primary-color);
}

.check-item-actions button:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.check-item-actions button:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.form-actions button {
    text-transform: uppercase;
}

.check-form-container .opacity {
    background: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
